---
import Note from '../components/Note.astro'
---

<section class="container notes-container">
    <!-- What the component should looke like when appended to the container -->
    <Note id="note"/>
</section>


<style>
    .container.notes-container
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 60px;
        margin-top: 100px;
        width: 100%;
    }

    .container.notes-container div
    {
        height: 200px;
        width: 200px;
        background-color: #191912;
    }
</style>

<script>
    window.addEventListener('load', appendNoteComponent)

    function appendNoteComponent()
    {
        // Append Note component to section.container.notes-container here

    }
</script>