---
import OpenCreateNoteFormButton from "./OpenCreateNoteFormButton.astro"
import NotesContainer from "./NotesContainer.astro"
import NotesContainer from "./NotesContainer.astro"
import DeleteSingleNoteButton from "./DeleteSingleNoteButton.astro"
const id = Astro.props
---

<div class="note" id="{id}">
    <div>
        <input type="text" class="note-title-input" id="note_title_input" placeholder="Title" disabled>
    </div>
    <div>
        <textarea class="note-text-input" id="note_text_input" placeholder="Text" disabled></textarea>
    </div>
    <DeleteSingleNoteButton />
</div>

<style>
    .note
    {
        position: relative;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 250px;
        border-radius: calc(var(--base-border-radius) / 2);
        box-shadow: var(--box-shadow);
    }

    .note > div > *
    {
        width: 98%;
    }

  

    .note div input,
    .note div textarea
    {
        font-family: inherit;
        background-color: transparent;
        border: none;
    }

    .note div input
    {
        font-size: 20px;
        height: 40px;
        text-indent: 5px;
    }

    .note div textarea
    {
        margin-top: 0;
        height: 160px;
        text-indent: 5px;
        padding-top: 10px;
    }

    /* Different Note Styles */

    /* Note One */
    .note.one
    {
        background-color: #fff;
    }

    .note.one div input,
    .note.one div textarea
    {
        color: #000;
    }

    .note.one div textarea
    {
        border-top: 2px solid #000;
    }
    
    /* Note Two */
    .note.two
    {
        background-color: #191970;
    }

    .note.two div input,
    .note.two div textarea
    {
        color: #fff;
    }

    .note.two div textarea
    {
        border-top: 2px solid #fff;
    }

    /* Note Three */
    .note.three
    {
        background-color: #000;
    }

    .note.three div input,
    .note.three div textarea
    {
        color: #fff;
    }

    .note.three div textarea
    {
        border-top: 2px solid #fff;
    }

    /* Note Four */
    .note.four
    {
        background-color: #fff;
    }

    .note.four div input,
    .note.four div textarea
    {
        color: #191970;
    }

    .note.four div textarea
    {
        border-top: 2px solid #191970;
    }
    
</style>


<script>


    const notes = document.querySelectorAll('.note') as NodeList
    const styleClasses = ['one', 'two', 'three', 'four']
    const notesContainer = document.querySelector('.notes-container')
    const deleteAllNotesButton = document.querySelector('#delete_all_notes_btn') as HTMLElement
    const openCreateNewNoteFormButton = document.querySelector('#open_create_new_note_form_button')
  
    // Ultimately to be added to the submit event
    window.addEventListener('load', generateRandomNoteStyle)
    notes.forEach((note: HTMLElement) => note.addEventListener('click', (e) => deleteSingleNote(e)))

    // Ultimately to be called upon successful form submission
    function generateRandomNoteStyle()
    {
        notes.forEach((note: HTMLElement) =>
        {
            const randomStyle = styleClasses[Math.floor(Math.random() * styleClasses.length)]
            note.classList.add(randomStyle)
        })
    }

    // Delete Single Note
    function deleteSingleNote(e: any)
    {
        if(e.target.matches('.delete-single-note-btn'))
        {
            const isWantingToDeleteSingleNote = confirm('Are you sure you want to delete this note? It\'ll also delete it from the database?')

            if(!isWantingToDeleteSingleNote) 
            {
                return
            }
            e.target.closest('.note').remove()
        }

        decrementNoteCounter()
    }

    // Decrement Note Counter
    function decrementNoteCounter()
    {
        const noteCounter = document.querySelector("#note_counter");
        let noteCount = notesContainer.children.length;
        noteCounter.textContent = noteCount.toString();
        

        if(noteCount <= 0)
        {
            deleteAllNotesButton.style.display = 'none'
        }

        noteCount--

        decrementNoteCounter()
    }

    // Decrement Note Counter
    function decrementNoteCounter()
    {
        const noteCounter = document.querySelector("#note_counter");
        let noteCount = notesContainer.children.length;
        noteCounter.textContent = noteCount.toString();
        

        if(noteCount <= 0)
        {
            deleteAllNotesButton.style.display = 'none'
        }

        noteCount--
    }
</script>