---
import NotesContainer from "./NotesContainer.astro"
---

<h2>
    Notes: <span class="note-counter" id="note_counter">0</span>
</h2>


<script>
    const notesContainer = document.querySelector('.notes-container')
    const noteCounter = document.querySelector('#note_counter')
    let noteCount = parseInt(noteCounter.textContent)

    noteCount = notesContainer.children.length

    console.log(notesContainer)
</script>