---
import OpenCreateNoteFormButton from "./OpenCreateNoteFormButton.astro"
import DeleteSingleNoteButton from "./DeleteSingleNoteButton.astro"
const id = Astro.props
---

<div class="note" id="{id}">
    <div>
        <input type="text" class="note-title-input" id="note_title_input" placeholder="Title">
    </div>
    <div>
        <textarea class="note-text-input" id="note_text_input" placeholder="Text"></textarea>
    </div>
    <DeleteSingleNoteButton />
</div>

<style>
    .note
    {
        position: relative;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 250px;
        border-radius: calc(var(--base-border-radius) / 2);
        box-shadow: var(--box-shadow);
    }

    .note > div > *
    {
        width: 98%;
        /* margin-left: -2px; */
    }

  

    .note div input,
    .note div textarea
    {
        font-family: inherit;
        background-color: transparent;
        border: none;
    }

    .note div input
    {
        font-size: 20px;
        height: 40px;
        text-indent: 5px;
    }

    .note div textarea
    {
        margin-top: 0;
        height: 160px;
        text-indent: 5px;
        padding-top: 10px;
    }

    /* Different Note Styles */

    /* Note One */
    .note.one
    {
        background-color: #fff;
    }

    .note.one div input,
    .note.one div textarea
    {
        color: #000;
    }

    .note.one div textarea
    {
        border-top: 2px solid #000;
    }
    
    /* Note Two */
    .note.two
    {
        background-color: #191970;
    }

    .note.two div input,
    .note.two div textarea
    {
        color: #fff;
    }

    .note.two div textarea
    {
        border-top: 2px solid #fff;
    }

    /* Note Three */
    .note.three
    {
        background-color: #000;
    }

    .note.three div input,
    .note.three div textarea
    {
        color: #fff;
    }

    .note.three div textarea
    {
        border-top: 2px solid #fff;
    }

    /* Note Four */
    .note.four
    {
        background-color: #fff;
    }

    .note.four div input,
    .note.four div textarea
    {
        color: #191970;
    }

    .note.four div textarea
    {
        border-top: 2px solid #191970;
    }

    /* Delete Single Note Button */
    
</style>


<script>
    const notes = document.querySelectorAll('.note')
    const styleClasses = ['one', 'two', 'three', 'four']
    const openCreateNewNoteFormButton = document.querySelector('#open_create_new_note_form_button')

    window.addEventListener('load', generateRandomNoteStyle)

    // Ultimately to be called upon successful form submission
    function generateRandomNoteStyle()
    {
        notes.forEach((note) => {
            const randomStyle = styleClasses[Math.floor(Math.random() * styleClasses.length)]
            note.classList.add(randomStyle)
        })
    }
</script>