---
---


<button class="open-create-new-note-form-button" id="open_create_new_note_form_button">
    <i class="fas fa-plus"></i>
</button>

<style>
    button
    {
        position: fixed;
        right: 20px;
        bottom: 20px;
        font-size: 25px;
        height: 50px;
        width: 50px;
        border: none;
        border-radius: calc(var(--base-border-radius) * 10);
        color: #fff;
        background-color: #191970;
        box-shadow: var(--box-shadow);
        cursor: pointer;
    }

    button:active
    {
        transform: scale(.98);
        box-shadow: none;
        transition: none;
    }
</style>

<script>
    const openCreateNewFormButton = document.getElementById('open_create_new_note_form_button')

    // EVENT LISTENERS //
    openCreateNewFormButton.addEventListener('mouseenter', generateRandomBackgroundColor)
    openCreateNewFormButton.addEventListener('mouseleave', resetBackgroundColor)
    openCreateNewFormButton.addEventListener('click', openNewNoteForm)

    // FUNCTIONS //
    function generateRandomBackgroundColor()
    {
        openCreateNewFormButton.style.backgroundColor = `#${Math.floor(Math.random()* 0xffffff).toString(16)}`
        openCreateNewFormButton.style.transitionDuration = '.15s'
    }

    function resetBackgroundColor()
    {
        openCreateNewFormButton.style.backgroundColor = '#191972'
    }

    // Open New Note Form //
    function openNewNoteForm()
    {
        
    }
</script>