@import url('https://fonts.googleapis.com/css?family=Lato: 100, 200, 300, 400, 500, 600, 700, 800, 900');

:root
{
    --body-background-color: #4cb2d4;
    --primary-text-color: #fff;
    
    /* Radii */
    --base-border-radius: 10px;

    /* Shadows */
    --text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

body
{
    font-family: 'Lato', sans-serif;
    background-color: var(--body-background-color);
}

button
{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

input:focus,
textarea:focus
{
    outline: none;
}

textarea
{
    resize: none;
}