---
import OpenCreateNoteFormButton from '../components/OpenCreateNoteFormButton.astro';
import NewNoteForm from '../components/NewNoteForm.astro';
import NotesContainer from '../components/NotesContainer.astro';

const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/e05f21b32e.js" crossorigin="anonymous"></script>
	<title>{title}</title>
</head>
<body>
	<main>
		<OpenCreateNoteFormButton/>
		<NewNoteForm/>
		<NotesContainer />
	</main>
</body>
</html>